<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>catalog</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <style>
    #root {
      background-image: url('<%= context.config.publicPath +"home_bg.png"%>');
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    .preload {
      position: absolute;
      left: 0;
      right: 0;
      height: 64px;
      line-height: 64px;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>